<% if @followers.present? %>
  <ol class="followers">
    <% @followers.reverse_each do |u| %>
      <%= render partial: 'users/followuser', locals: { u: u } %>
    <% end %>
  </ol>
<% else %>
  <h4>
    <%= I18n.t('users.micropost_list.followers.no_item') %>
  </h4>
<% end %>
