<%= link_to relationships_path(followed_id: user.id), method: "post", remote: true do %>
  <span class="label label-info glyphicon glyphicon-heart">
    <%= I18n.t('users.follow.follow') %>
  </span>
<% end %>
