<div class="row">
  <div class="col-md-4">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col-md-8">
    <ul class="nav nav-tabs nav-justified">
    	<li role="presentation" class="tabmenu active" id="users">
    	   <%= link_to I18n.t('users.index.users.tab_name'), search_users_path(:q=>session[:q]), remote: true %> 
    	</li>
    	<li role="presentation" class="tabmenu" id="microposts">
    	   <%= link_to I18n.t('users.index.microposts.tab_name'), search_microposts_path(:q=>session[:q]), remote: true %> 
    	</li>
    </ul>

    <div id="search-result">
      <%= render 'search_result_user' %>
    </div>
  </div>
</div>
<script>
  $(".nav_menu").removeClass("active");
  $("#search").removeClass("hidden").addClass("active"); 
</script>