<%= form_for(@micropost) do |f| %>
  <%#= render 'shared/error_messages', object: f %>
  <div class="field">
    <%= f.text_area :content, placeholder: I18n.t('users.side_bar.whats_happening') %>
  </div>
  <%= f.submit I18n.t('users.side_bar.submit'), class: "btn btn-primary" %>
<% end %>